[Unit]
Description=GPS Settings Tweaks
Before=gpsd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/gps-tweak.sh

[Install]
WantedBy=multi-user.target
