[Unit]
Description=GPS Settings Tweaks

# gpsctl(1) does *not* work unless gpsd has started
BindsTo=gpsd.service
After=gpsd.service
Before=gps-clock.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/gps-tweak.sh

[Install]
WantedBy=multi-user.target
